:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding: 10px 10px;
  min-width: 75px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.app__body {
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
}
