.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

.login__container {
  display: flex;
  column-gap: 20px;
}

.login__left {
  max-width: 580px;
  width: 100%;
}

.login__right img {
  width: 580px;
  height: 600px;
  object-fit: cover;
  object-position: left;
}